:root{
    --yellow: #F4D04E;
    --strong-gray: #111111;
    --gray: #6B6B6B;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100VH;
    background-color: var(--yellow);
}

main{
    width: 384px;
    height: 522px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 0px rgba(0, 0, 0,1);
    border: 1.5px solid black;
}



.ilustracao{
    margin: 24px;
    border-radius: 10px;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption{
    display: flex;
    flex-direction: column;
    max-width: 336px;
    
    align-items: flex-start;
    gap: 12px;
}

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 4px;
    font-size: 14px;
    font-weight: bolder;
    width: 82px;
    height: 29px;
    margin-bottom: 12px;
}

.data{
    font-size: 14px;
    color: var(--strong-gray);
    font-weight: 400;
    align-items: flex-start;
}

h1{
    font-size: 24px;
    color: var(--strong-gray);
    font-weight: 800;
     transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

h1:hover{
    color: var(--yellow);
    cursor: pointer;
}

.descricao{
    display: flex;
    font-size: 16px;
    color: var(--gray);
    font-weight: 500;
    text-align: left;
}
.perfil{
    display: flex;
    flex-direction: row;
    padding-top: 24px;  
    margin-bottom: 24px;
    gap: 12px;
    align-items: center;
}

.foto-perfil{
    height: 32px;
}

.nome-perfil{
    font-weight: bolder;
    font-size: 14px;
}